<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts">Accounts</a>
        </li>
        <!-- Add more navigation items as needed -->
    </ul>
</nav>
